<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 

<!-- Inline CSS based on choices in "Settings" tab -->
<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>

  <style>   

  html {
    width: 100%;
    height: 100%;
    background:none !important;
    
	
  
} 
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
</head>
<body>

<!--<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>        
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<div *ngIf="profile">
  <div class="bootstrap-iso">
 <div class="container-fluid">
<div class="container text-center" style="margin-top: 30px">    
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <p><a href="#">{{username}}</a></p>
		<p>{{profile.profileRootObject.lcProfileTitle}} | {{profile.profileLocationDtls.profileCityName}}</p>
        <img src="/assets/assetslc/images/avatar.png" class="img-circle" height="65" width="65" alt="Avatar">
      </div>
      <div class="well">
        <p>Interests</p>
        <p *ngFor="let interest of arrInterests" >

		
                <span class="label label-primary"  
                >{{interest}}</span>
           
         <!-- <span class="label label-default">News</span>
          <span class="label label-default">W3Schools</span>
          <span class="label label-default">Labels</span>
          <span class="label label-default">Football</span>
          <span class="label label-default">Gaming</span>
          <span class="label label-default">Friends</span>-->
        </p>
      </div>
	   <div class="well">
        <p>Contributions</p>
             <p *ngFor="let contrib of arrContributions">
                <span class="label label-success">{{contrib}}</span>
            </p> 
      </div>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>Ey!</strong></p>
        People are looking at your profile. Find out who.
      </div>
<!--       <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p> -->
    </div>
    <div class="col-sm-7">
    
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p contenteditable="true">{{profile.profileRootObject.lcProfileStatement}}</p>
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-up"></span> Like
              </button>     
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Joyce</p>
           <img src="/assets/assetslc/images/joyce.png" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Berenice</p>
           <img src="/assets/assetslc/images/berenice.jpg" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Joyce</p>
           <img src="/assets/assetslc/images/joyce.png" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Berenice</p>
           <img src="/assets/assetslc/images/berenice.jpg" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
          </div>
        </div>
      </div>    
    </div>
    <div class="col-sm-2 well">
      <!-- <div class="thumbnail">
        <p>Upcoming Events:</p>
        <img src="paris.jpg" alt="Paris" width="400" height="300">
        <p><strong>Paris</strong></p>
        <p>Fri. 27 November 2015</p>
        <button class="btn btn-primary">Info</button>
      </div>  -->     
      <div class="well">
        <p>Portfolios</p>
        <p *ngFor="let port of arrPortfolios">
            <a *ngIf="port.indexOf('youtube') > -1" href="{{port}}" target="_blank">
              <img src="/assets/assetslc/images/icons/youtube.png"></a>
            <a *ngIf="port.indexOf('instagram') > -1" href="{{port}}" target="_blank">
              <img src="/assets/assetslc/images/icons/picasa.png"></a>
            <a *ngIf="port.indexOf('linkedin') > -1" href="{{port}}" target="_blank">
              <img src="/assets/assetslc/images/icons/linkedin.png"></a>
            <a *ngIf="port.indexOf('facebook') > -1" href="{{port}}" target="_blank">
              <img src="/assets/assetslc/images/icons/facebook.png"></a>
        </p>
      </div>
      <div class="well">
        <p>Social</p>
          <p *ngFor="let soc of arrSocials">
            <a *ngIf="soc.indexOf('youtube') > -1" href="{{soc}}" target="_blank">
              <img src="/assets/assetslc/images/icons/youtube.png"></a>
            <a *ngIf="soc.indexOf('instagram') > -1" href="{{soc}}" target="_blank">
              <img src="/assets/assetslc/images/icons/picasa.png"></a>
            <a *ngIf="soc.indexOf('linkedin') > -1" href="{{soc}}" target="_blank">
              <img src="/assets/assetslc/images/icons/linkedin.png"></a>
            <a *ngIf="soc.indexOf('facebook') > -1" href="{{soc}}" target="_blank">
              <img src="/assets/assetslc/images/icons/facebook.png"></a>
        </p>
      </div>
    </div>
  </div>
</div>
 </div>
  </div>
<footer class="container-fluid text-center">
  <p>Tacten AWS Demo</p>
</footer>
</div>
</body>

</html>
